* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    gap: 1.5rem;
}

.nav-btn button {
    min-width: 94px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px !important;
    font-size: 14px !important;
    letter-spacing: 0.26px !important;
    font-weight: normal;
    line-height: 24px;
    /* border-radius: 300px !important; */
}

.hero-card {
    gap: 1.5rem;
}

.hero-wrapper {
    padding-top: 8rem;
}

.hero-card .card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d9e3e7;
    margin: 0 !important;
}

.card-body {
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero-left {
    padding: 1.1rem !important;
}

.hero-heading h1 {
    font-weight: 700;
    margin-bottom: 1.2rem;
    line-height: 1.2;
    font-size: 40px !important;
    font-family: "Inter";
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
    color: #2b3a3f !important;
}

.user-form {
    width: 60%;
    padding: 2rem !important;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0px 20px 50px rgba(75, 87, 92, 0.14);
    border-radius: 0.75rem;
    outline: 0;
}

.user-form button {
    min-width: 164px !important;
    font-size: 12px !important;
    color: #fff;
    background-color: #00b074;
    border-color: #00b074;
    font-weight: 400;
    font-family: "Inter";
}

.user-form button:hover {
    background-color: #2ebe93;
    color: #fff;

}

button.hire-btn {
    font-size: 12px !important;
    color: #fff;
    background-color: #00b074;
    border-color: #00b074;
    font-weight: 400;
    font-family: "Inter";
    /* padding: 2rem auto !important; */
}

button.con-btn {
    font-size: 12px !important;
    font-weight: 400;
    font-family: "Inter";
    border-color: #00b074;
}

button.con-btn:hover {
    background-color: #00b074;

}

.image-holder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.owner {
    background-color: #F4F9FB;
}

.owner-content {
    gap: 1.5rem;
}

.own-head {
    gap: 1.5rem;
}

.btn-owner span {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #DCEEF6;
    color: #2B3A3F;
    border-radius: 300px;
    padding: 4px 16px;
}

.own-head h1 {
    font-size: 40px !important;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: #2b3a3f !important
}

.own-head p {
    line-height: 26px;
    font-size: 16px;
    font-weight: normal;
    color: #6b6e6f;
    font-family: "Inter";
    font-style: normal;
}

.own-head button {
    padding: 12px 16px !important;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.tool-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 48px;
    object-fit: cover;
}

.ex-heading h1 {
    text-align: center !important;
    font-size: 40px !important;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #2b3a3f !important;
}
.ex-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.pro-img img {
    height: 100%;
    width: 100%;
}
.pro-head h4 {
    text-align: center !important;
    font-size: 30px !important;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #2b3a3f !important;
    margin-bottom: 2rem;
}

.stat-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-wrap h5 {
    font-weight: 700;
    font-size: 1.5rem;
}
.pro-stats {
    margin: 3rem auto;
}